<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL Shortener</h1>
        <div>
                <form method="POST" action="/url">
                    <input type="text" name="url" placeholder="enter url"/>
                    <button type="submit">Generate Short URL</button>
                </form>
        </div>
        <div>
            <% if (locals.shortURL) { %>
                <p>URL Generated is: <a>http://localhost:8081/url/<%=shortURL %></a></p>
            <% }%>          
        </div>

        <h3>All URL details</h3>
        <% if (locals.urls) { %>
          <table border="1" >
            <thead>
                <th>S. No</th>
                <th>Main URL</th>
                <th>shortId</th>
                <th>redirect</th>
                <th>Num of clicks</th>
            </thead>
            <tbody>
            <% urls.forEach((url, index) => { %>
                <tr>
                <td><%= index+1 %></td>
                 <td><%= url.redirectURL %></td>
                 <td><%= url.shortId %></td>
                 <td><a target="_blank" >http://localhost:8081/url/<%= url.shortId %></a></td>
                 <td><%= url.visitHistory.length %></td>
                </tr>
            <% }) %>
        </tbody>
          </table>
    <% } %>
</body>
</html>

